<!DOCTYPE html>
<html>
<head>
  <title>Tamer</title>
  <%= stylesheet_link_tag :all %>
  
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="topbar-wrapper" style="z-index: 10000;">
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <h3><a href="/">Tamer</a></h3>
        <ul class="nav">
          <li><a href="/">Início</a></li>
          <li><a href="/movements">Movimentação</a></li>
          <!--<li><a href="/graphics">Gráficos</a></li>-->
          <li><a href="/accounts">Contas</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
  <div id="container">
    <div class="container">
      <div class="sidebar">
        
      </div>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
